#wrapper {
  font-family: Cambria, Georgia, serif;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#c0c0c0),
    color-stop(50%, #add8e6),
    to(#fff)
  );
  background-image: linear-gradient(#c0c0c0, #add8e6, #fff);
  width: 100%;
  overflow: hidden;
}

#shopbox {
  width: 50%;
  height: 500px;
  border: 1px solid #000;
  position: relative;
  left: 20%;
  bottom: 210px;
}

#nmbrbox {
  position: relative;
  left: 35%;
  bottom: 400px;
}

#nmbrbox_1 {
  position: relative;
  left: 30%;
  bottom: 400px;
}

#nmbrbox_4 {
  position: relative;
  left: 30%;
  bottom: 380px;
}

#nmbrbox_7 {
  position: relative;
  left: 50%;
  bottom: 400px;
}

.descbox {
  text-align: right;
}

.descbox_0 {
  text-align: right;
}

#box {
  border: 1px solid #000;
  width: 50%;
  height: 350px;
  position: relative;
  left: 20%;
  bottom: 200px;
  padding: 10px;
}

.probox {
  border: 1px solid #fff;
  width: 15%;
  height: 97%;
  display: inline-block;
}

.pren_box0 {
  position: relative;
  left: 40%;
}

#ad {
  position: relative;
  left: 40%;
  bottom: 60px;
  border: 1px solid #000;
  width: 30%;
  height: 200px;
  font-size: 20px;
}

#aboutbox {
  position: relative;
  left: 35%;
  bottom: 130px;
  border: 1px solid #000;
  width: 40%;
  height: 310px;
  font-size: 20px;
  padding: 10px;
}

#varuborder {
  border: 1px solid #000;
  width: 30%;
  height: 330px;
  margin: 0 auto;
  position: relative;
  bottom: 610px;
  padding: 10px;
}

#all {
  border: 1px solid #000;
  width: 30.2%;
  position: absolute;
  left: 33.8%;
  bottom: 100px;
  padding-left: 150px;
}

#all2 {
  border: 1px solid #000;
  width: 30.2%;
  position: absolute;
  left: 33.8%;
  bottom: 42px;
  text-align: center;
}

#all3 {
  border: 1px solid #000;
  width: 30%;
  position: absolute;
  left: 33.8%;
  bottom: 160px;
  padding-left: 150px;
}

#varu {
  display: none;
  background: #000;
  float: right;
  color: #fff;
  width: 12%;
  height: auto;
  border-radius: 10px;
}

#leftmenu {
  display: block;
  padding: 10px;
  font-size: 20px;
}

#main {
  clear: both;
}

#sociallinks {
  position: relative;
  left: 85%;
  top: -20px;
}

#sociallinks_0 {
  position: absolute;
  left: 85%;
  bottom: -370px;
}

@media screen and (width > 400px) and (width < 500px) {
  #wrapper {
    font-family: Cambria, Georgia, serif;
    background: #808080;
    width: 99%;
  }

  #leftmenu {
    display: none;
  }

  #aboutbox {
    width: 95%;
    height: 100%;
    position: relative;
    left: 2%;
    top: -50px;
  }

  #main {
    width: 90%;
    margin-top: 2px;
  }

  #sociallinks {
    position: relative;
    left: 30%;
    top: 5px;
  }

  #box {
    width: 370px;
    height: 500px;
    position: relative;
    left: 1%;
    bottom: 100px;
    table-layout: fixed;
  }

  .probox {
    border: 1px solid #fff;
    width: 30%;
    height: 50%;
    display: inline-block;
  }

  #all {
    width: 85%;
    margin-left: -130px;
    margin-bottom: 120px;
    padding: 0;
  }

  #all2 {
    width: 98%;
    height: 450px;
    position: relative;
    left: 4%;
    bottom: 200px;
    padding: 4px;
  }

  #varuborder {
    width: 100%;
    height: 330px;
    position: relative;
    bottom: 400px;
    left: 1%;
    padding: 5px;
  }

  #varu {
    display: none;
  }

  #shopbox {
    width: 380px;
    height: 500px;
    position: relative;
    left: 1%;
    bottom: 110px;
  }

  .descbox_0 p {
    position: relative;
    left: 1%;
    font-size: 12px;
  }

  #nmbrbox_1 {
    position: relative;
    left: 30%;
    bottom: 400px;
  }

  #nmbrbox_4 {
    position: relative;
    left: 50%;
    bottom: 400px;
  }

  .descbox p {
    position: relative;
    left: -1%;
    font-size: 14px;
  }

  #shoppingslogin {
    width: 100%;
    position: relative;
    bottom: 420px;
    left: 1%;
    padding-left: 10px;
  }

  #all3 {
    width: 85%;
    position: absolute;
    left: 20px;
    bottom: 300px;
    padding: 0;
  }

  #ad {
    position: relative;
    left: 2%;
    top: -2px;
    width: 380px;
  }
}

@media screen and (width > 500px) and (width < 800px) {
  #wrapper {
    font-family: Cambira, Georgia, serif;
    background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(#f00),
      color-stop(50%, #ffc0cb),
      to(#00f)
    );
    background-image: linear-gradient(#f00, #ffc0cb, #00f);
    padding: 10px;
  }

  #box {
    width: 700px;
    height: 350px;
    position: relative;
    left: 1%;
    bottom: 100px;
  }

  .probox {
    border: 1px solid #fff;
    width: 18%;
    height: 97%;
    display: inline-block;
  }

  #aboutbox {
    width: 630px;
    position: relative;
    left: 10%;
    top: -60px;
  }

  #all {
    width: 62.5%;
    margin-left: -195px;
    margin-bottom: 90px;
  }

  #all2 {
    width: 83%;
    position: relative;
    left: 15%;
  }

  #main {
    width: 75%;
  }

  #leftmenu {
    display: none;
  }

  #varuborder {
    width: 90%;
    height: 330px;
    position: relative;
    bottom: 400px;
    left: 20%;
  }

  #shopbox {
    width: 680px;
    height: 500px;
    position: relative;
    left: 5%;
    bottom: 110px;
  }

  #nmbrbox_1 {
    position: relative;
    left: 30%;
    bottom: 400px;
  }

  #nmbrbox_4 {
    position: relative;
    left: 30%;
    bottom: 400px;
  }

  .descbox p {
    position: relative;
    left: -1%;
  }

  #shoppingslogin {
    width: 72%;
    position: relative;
    bottom: 420px;
    left: 23%;
    padding-left: 120px;
  }

  #all3 {
    width: 64%;
    position: absolute;
    left: 9%;
    bottom: 200px;
  }

  #ad {
    position: relative;
    left: 10%;
    top: 10px;
    width: 650px;
  }

  #ad11 {
    position: relative;
    left: 10%;
    top: 10px;
    width: 650px;
  }
}

.date {
  width: 10%;
}

#txtarea {
  overflow: hidden;
}

.pren {
  position: relative;
  left: 40%;
}

.readmore {
  position: relative;
  left: 22%;
  bottom: 20px;
  background-color: #c0c0c0;
  padding: 2px;
}

#varubtn {
  float: right;
}

#addbtn {
  position: relative;
  left: 36%;
  bottom: 25px;
  background: #000;
  color: #fff;
}

#addbtn_0 {
  position: relative;
  left: 25%;
  bottom: 26px;
  background: #000;
  color: #fff;
}

#addbtn_1 {
  position: relative;
  left: 30%;
  bottom: 26px;
  background: #000;
  color: #fff;
}

#addbtn_7 {
  position: relative;
  left: -20%;
  bottom: 26px;
  background: #000;
  color: #fff;
}

@media screen and (width > 400px) and (width < 500px) {
  .pren {
    position: relative;
    left: 10%;
  }

  #addbtn {
    position: relative;
    left: -30px;
  }

  #addbtn_1 {
    position: relative;
    left: 30px;
  }

  #addbtn_3 {
    position: relative;
    left: 6%;
    bottom: 26px;
    background: #000;
    color: #fff;
  }

  #searchform {
    display: block;
  }
}

@media screen and (width > 500px) and (width < 800px) {
  .pren {
    position: relative;
    left: 20%;
  }

  #pren_0 {
    position: relative;
    left: 20%;
  }

  #resetbtn {
    position: relative;
    left: 0;
  }

  #selectmeny {
    display: none;
  }
}

#rubrik {
  color: #f00;
}

#shoptitle {
  position: relative;
  right: 40%;
  bottom: 340px;
}

#shoptitle_0 {
  position: relative;
  right: 20%;
  bottom: 390px;
}

#shoptitle_1 {
  position: relative;
  right: 30%;
  bottom: 390px;
}

#shoptitle_2 {
  position: relative;
  right: 35%;
  bottom: 340px;
}

#shoptitle_3 {
  position: relative;
  right: 40%;
  bottom: 340px;
}

#shoptitle_5 {
  position: relative;
  right: 17%;
  bottom: 345px;
}

#shoptitle_6 {
  position: relative;
  right: 32%;
  bottom: 400px;
}

#shoptitle_7 {
  position: relative;
  right: -40%;
  bottom: 350px;
}

#dec {
  position: relative;
  right: 48%;
  bottom: 400px;
}

#desc_5 {
  position: relative;
  right: 48%;
  bottom: 400px;
}

#desc_7 {
  position: relative;
  right: -40%;
  bottom: 400px;
}

#dec_0 {
  position: relative;
  right: 45%;
  bottom: 400px;
}

#desc_1 {
  position: relative;
  right: 48%;
  bottom: 430px;
}

.title {
  text-align: center;
  font-size: 15px;
}

#left {
  position: absolute;
  left: 40%;
}

#ellerword {
  position: relative;
  bottom: 620px;
  left: 48%;
}

#cntr {
  margin-left: 120px;
}

@media screen and (width > 400px) and (width < 500px) {
  #ellerword {
    position: relative;
    bottom: 420px;
    left: 40%;
  }

  #shoptitle {
    position: relative;
    left: -29%;
  }

  #shoptitle_2 {
    position: relative;
    left: -10%;
  }

  .title {
    position: relative;
    left: 5%;
  }

  #dec {
    position: relative;
    left: -47%;
  }

  #dec_0 {
    position: relative;
    left: -40%;
    bottom: 450px;
  }

  #desc_7 {
    position: relative;
    left: 30%;
    bottom: 450px;
  }

  #desc_5 {
    position: relative;
    left: -40%;
    bottom: 440px;
  }

  #shoptitle_6 {
    position: relative;
    right: 30%;
    bottom: 400px;
    padding: 10px;
  }

  #shoptitle_7 {
    position: relative;
    left: 22%;
    bottom: 400px;
    padding: 10px;
  }

  #shoptitle_3 {
    position: relative;
    right: 14%;
    bottom: 390px;
  }

  #shoptitle_5 {
    position: relative;
    right: 2%;
    bottom: 390px;
    font-size: 15px;
    padding: 10px;
  }
}

@media screen and (width > 500px) and (width < 800px) {
  #ellerword {
    position: relative;
    bottom: 420px;
    left: 65%;
  }

  #shoptitle {
    position: relative;
    left: -35%;
  }

  #shoptitle_2 {
    position: relative;
    left: -30%;
  }

  .title {
    position: relative;
    left: 5%;
  }

  #dec {
    position: relative;
    left: -47%;
  }

  #dec_0 {
    position: relative;
    left: -50%;
  }

  #dec_0 p {
    position: relative;
    left: -15%;
    font-size: 15px;
  }

  #shoptitle_6 {
    position: relative;
    right: 30%;
    bottom: 400px;
    padding: 10px;
  }

  #shoptitle_7 {
    position: relative;
    left: 40%;
    bottom: 400px;
    padding: 10px;
  }

  #shoptitle_3 {
    position: relative;
    right: 36%;
    bottom: 390px;
  }

  #shoptitle_5 {
    position: relative;
    right: 10%;
    bottom: 390px;
  }
}

.socialbild {
  width: 1%;
  height: 1%;
}

.mini {
  width: 10%;
  height: 50px;
  padding-left: 80px;
}

.produktsbild {
  width: 30%;
  height: 250px;
  padding: 10px;
}

.productimg {
  width: 100%;
  height: 60%;
  padding: 10px;
}

#adbild {
  width: 95%;
  height: 85%;
  position: absolute;
  left: 10px;
  bottom: 20px;
}

@media screen and (width > 400px) and (width < 500px) {
  .mini {
    position: relative;
    right: 18%;
  }

  .produktsbild {
    width: 20%;
    height: 300px;
  }

  #adbild {
    position: relative;
    left: 1%;
    bottom: -20px;
  }
}

@media screen and (width > 500px) and (width < 800px) {
  .socialbild {
    width: 2%;
    height: 2%;
  }

  .produktsbild {
    width: 25%;
    height: 300px;
  }
}

#varuhr {
  width: 10.5%;
  position: absolute;
  left: 84.5%;
}

#spechr {
  display: inline;
  height: 68%;
  width: 1px;
  border: 1px inset;
  margin: 5px;
  position: absolute;
  left: 10%;
  bottom: 30px;
}

#spechr2 {
  display: inline;
  height: 100%;
  width: 1px;
  border: 1px inset;
  margin: 5px;
  position: absolute;
  left: 10%;
  bottom: -350px;
}

#shoppingvaruhr {
  width: 98%;
}

#spechr1 {
  display: inline;
  height: 60%;
  width: 1px;
  border: 1px inset;
  margin: 5px;
  position: absolute;
  left: 10%;
  bottom: 100px;
}

.headhr {
  border-color: #add8e6;
}

.headhr1 {
  width: 100%;
}

@media screen and (width > 400px) and (width < 500px) {
  #spechr {
    display: none;
  }

  .headhr1 {
    width: 388px;
  }

  .headhr {
    width: 95%;
  }

  #spechr1 {
    display: none;
  }

  #spechr2 {
    display: none;
  }
}

@media screen and (width > 500px) and (width < 800px) {
  .headhr1 {
    width: 720px;
  }

  #spechr {
    display: none;
  }

  #spechr1 {
    display: none;
  }

  #spechr2 {
    display: none;
  }
}

a {
  text-decoration: none;
  color: #fff;
}

#korg {
  position: relative;
  left: 94%;
  top: -100%;
  color: #fff;
  height: 6%;
  background: #000;
}

#searchlink {
  position: absolute;
  left: 90%;
}

#click {
  color: #00f;
}

#linklist a {
  padding-left: 150px;
}

@media screen and (width > 400px) and (width < 500px) {
  #korg {
    position: relative;
    left: 78%;
  }
}

@media screen and (width > 500px) and (width < 800px) {
  #korg {
    position: relative;
    left: 88%;
  }
}

#form1 {
  position: relative;
  left: 20%;
}

@media screen and (width > 400px) and (width < 500px) {
  #form1 {
    position: absolute;
    left: 20px;
  }
}

#spectxt_7 {
  position: relative;
  right: -300px;
  bottom: 400px;
  font-size: 22px;
  font-family: "Times New Roman", serif;
}

#spectxt {
  position: relative;
  left: -5%;
  bottom: 400px;
}

#spectxt_0 {
  position: relative;
  left: -14%;
  bottom: 430px;
}

#pris_0 {
  position: relative;
  right: 50%;
  bottom: 420px;
  font-size: 25px;
}

#pris_1 {
  position: relative;
  right: 50%;
  bottom: 420px;
  font-size: 25px;
}

#pris_2 {
  position: relative;
  right: -40%;
  bottom: 420px;
  font-size: 25px;
}

#pris_3 {
  position: relative;
  right: 50%;
  bottom: 420px;
  font-size: 25px;
}

#pris_4 {
  position: relative;
  right: -50%;
  bottom: 420px;
  font-size: 25px;
}

.descbox p {
  position: relative;
  right: 15%;
  bottom: 400px;
  font-size: 22px;
  font-family: "Times New Roman", serif;
}

#deltext {
  position: relative;
  right: 28%;
}

#deltext_0 {
  position: relative;
  right: 43%;
}

#deltext_1 {
  position: relative;
  right: 46%;
}

.descbox_0 p {
  position: relative;
  right: 50px;
  bottom: 420px;
  font-size: 22px;
  font-family: "Times New Roman", serif;
}

#numbertxt {
  width: 20%;
  height: 20%;
  position: relative;
  right: -10%;
}

#numbertxt_0 {
  width: 20%;
  height: 20%;
  position: relative;
  right: -10%;
}

#numbertxt_1 {
  width: 20%;
  height: 20%;
  position: relative;
  right: 50%;
}

#numbertxt_3 {
  width: 20%;
  height: 20%;
  position: relative;
  right: 50%;
}

#numbertxt_4 {
  width: 20%;
  height: 20%;
  position: relative;
  right: 50%;
}

#products {
  position: relative;
  left: 5%;
  top: 60%;
}

#pitch {
  position: relative;
  right: -5%;
  bottom: 100px;
  width: 40%;
  height: 80%;
  margin: 0 auto;
  border: 1px solid #000;
  font-size: 20px;
  padding: 10px;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#ffffed),
    color-stop(50%, #add8e6),
    to(#fff)
  );
  background-image: linear-gradient(#ffffed, #add8e6, #fff);
}

#totalt {
  position: absolute;
  left: 1%;
  top: 80px;
  padding-left: 170px;
}

#varutext {
  text-align: center;
}

#cntr1 {
  margin-left: 110px;
}

@media screen and (width > 400px) and (width < 500px) {
  #deltext {
    position: relative;
    right: 240px;
    left: -36%;
  }

  #pitch {
    width: 95%;
  }

  #spectxt {
    position: relative;
    left: 1.5%;
    bottom: 430px;
  }

  #numbertxt {
    position: relative;
    left: -100px;
  }

  #numbertxt3 {
    position: relative;
    left: -150px;
  }

  #numbertxt1 {
    position: relative;
    left: -130px;
  }

  #numbertxt0 {
    position: relative;
    left: -10px;
  }

  #spectxt_7 {
    position: relative;
    left: 25%;
    bottom: 450px;
    font-size: 15px;
  }

  #pris_4 {
    position: relative;
    top: -450px;
    right: -120px;
  }

  #deltext_0 {
    position: relative;
    left: -55%;
  }

  #deltext_1 {
    position: relative;
    left: -60%;
  }

  #cntr1 {
    position: absolute;
    left: -100px;
  }

  #totalt {
    position: absolute;
    top: 80px;
    left: -100px;
  }

  #products {
    display: block;
    position: relative;
    left: 20%;
    bottom: 20px;
  }
}

@media screen and (width > 500px) and (width < 800px) {
  #pitch {
    width: 630px;
    position: relative;
    right: -10%;
    bottom: 90px;
  }

  #spectxt {
    position: relative;
    left: -15%;
    bottom: 430px;
  }

  #deltext {
    position: relative;
    left: -23%;
  }

  #deltext_0 {
    position: relative;
    left: -40%;
  }

  #deltext_1 {
    position: relative;
    left: -40%;
  }

  #searchtext {
    position: absolute;
    left: 75%;
  }
}

#selectmeny {
  display: none;
  width: 90%;
  margin-left: 20px;
}

#navigationslinks {
  display: none;
}

#logobild {
  position: relative;
  left: 35%;
  width: 30%;
  height: 30%;
  border-radius: 50px;
}

#varukorgsbild {
  width: 1%;
  height: 1%;
}

#searchtext {
  display: none;
  position: relative;
  left: 89%;
}

@media screen and (width > 400px) and (width < 500px) {
  #selectmeny {
    display: block;
    width: 90%;
    margin-left: 20px;
  }

  #logobild {
    position: relative;
    left: 20%;
    bottom: -10px;
    width: 60%;
    height: 40%;
  }

  #searchlink {
    display: none;
  }
}

@media screen and (width > 500px) and (width < 800px) {
  #logobild {
    position: relative;
    left: 25%;
    bottom: 30px;
    width: 40%;
    height: 40%;
  }
}

#sidfooter {
  background: #000;
  color: #fff;
  padding: 10px;
}

#sidfooter_0 {
  background: #000;
  color: #fff;
  padding: 10px;
}

@media screen and (width > 400px) and (width < 500px) {
  #sidfooter a {
    padding: 5px;
    width: 88%;
    height: 20px;
    font-size: 10px;
  }

  #sidfooter_0 {
    width: 375px;
    height: 100%;
  }

  #sidfooter_0 .socialbild {
    width: 5%;
    height: 5%;
  }

  #sidfooter_0 a {
    padding-left: 2px;
  }
}

@media screen and (width > 500px) and (width < 800px) {
  #sidfooter {
    width: 98%;
    height: 100%;
  }

  #sidfooter a {
    padding: 1px;
  }

  #sidfooter_0 {
    width: 700px;
    height: 100%;
  }

  #sidfooter_0 a {
    padding: 1px;
  }
}

.navlinks {
  float: right;
  padding: 10px;
}

@media screen and (width > 400px) and (width < 500px) {
  .navlinks {
    display: none;
  }

  #navigationslinks {
    display: none;
  }

  #navigationslinks a {
    padding: 10px;
  }
}

@media screen and (width > 500px) and (width < 800px) {
  #navigationslinks {
    display: block;
    position: relative;
    top: 87px;
    left: 20px;
  }

  #navigationslinks a {
    padding: 10px;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
  list-style: none;
  outline: 0;
}

img {
  display: block;
  max-width: 100%;
  width: auto;
  height: auto;
}
