// Variables
$font: Cambira, Georgia;
$font2: "Times New Roman";
$linear: linear;
$leftPos: left;
$topPos: top;
$bottomPos: bottom;
$rightPos: "right";
$none: none;
$rel: relative;
$solidbrd: solid;
$inblock: inline-block;
$abs: absolute;
$inline: inline;
$insetbrd: inset;
$auto: auto;
$block: block;

$colors: (
  red: #ff0000,
  silver: #c0c0c0,
  lightBlue: #add8e6,
  blue: #0000ff,
  lightYellow: #ffffed,
  white: #ffffff,
  black: #000,
  gray: #808080,
  pink: #ffc0cb,
);

// Selectors
$selectorMap: (
  global: "*",
  img: "img",
  link: "a",
  para: "p",
  container: "#wrapper",
  selectMeny: "#selectmeny",
  navigationsLinks: "#navigationslinks",
  socialBild: ".socialbild",
  date: ".date",
  txtArea: "#txtarea",
  rubirk: "#rubrik",
  pren: ".pren",
  shopBox: "#shopbox",
  shopTitle: "#shoptitle",
  shopTitle0: "#shoptitle_0",
  shopTitle1: "#shoptitle_1",
  shopTitle2: "#shoptitle_2",
  shopTitle3: "#shoptitle_3",
  shopTitle5: "#shoptitle_5",
  shopTitle6: "#shoptitle_6",
  shopTitle7: "#shoptitle_7",
  desc: "#dec",
  desc0: "#dec_0",
  desc1: "#desc_1",
  desc5: "#desc_5",
  desc7: "#desc_7",
  specTxt: "#spectxt",
  specTxt0: "#spectxt_0",
  specTxt7: "#spectxt_7",
  pris0: "#pris_0",
  pris1: "#pris_1",
  pris2: "#pris_2",
  pris3: "#pris_3",
  pris4: "#pris_4",
  descBox: ".descbox",
  descBox0: "descbox_0",
  nmbrBox: "#nmbrbox",
  nmbrBox1: "#nmbrbox_1",
  nmbrBox4: "#nmbrbox_4",
  nmbrBox7: "#nmbrbox_7",
  addBtn: "#addbtn",
  addBtn0: "#addbtn_0",
  addBtn1: "#addbtn_1",
  addBtn7: "#addbtn_7",
  delTxt: "#deltext",
  delTxt1: "#deltext_1",
  nmbrTxt: "#numbertxt",
  nmbrTxt0: "#numbertxt_0",
  nmbrTxt1: "#numbertxt_1",
  nmbrTxt3: "#numbertxt_3",
  nmbrTxt4: "#numbertxt_4",
  mini: ".mini",
  produktsBild: ".produktsbild",
  box: "#box",
  title: ".title",
  readMore: ".readmore",
  proBox: ".probox",
  productImg: ".productimg",
  ad: "#ad",
  just1: "#just1",
  products: "#products",
  logoBild: "#logobild",
  aboutBox: "#aboutbox",
  navLinks: ".navlinks",
  varuKorgsBild: "#varukorgsbild",
  srchTxt: "#searchtext",
  pitch: "#pitch",
  korg: "#korg",
  srchLink: "#searchlink",
  varuBtn: "#varubtn",
  varuHr: "#varuhr",
  click: "#click",
  specHr: "#spechr",
  specHr1: "#spechr1",
  specHr2: "#spechr2",
  left: "#left",
  totalt: "#totalt",
  shoppingVaruHr: "#shoppingvaruhr",
  varuTxt: "#varutext",
  ellerWord: "#ellerword",
  form1: "#form1",
  varuBorder: "#varuborder",
  shoppingsLogin: "#shoppingslogin",
  cntr: "#cntr",
  cntr1: "#cntr1",
  all: "#all",
  all2: "#all2",
  all3: "#all3",
  varu: "#varu",
  addBild: "#adbild",
  headHr: ".headhr",
  headHr1: ".headhr1",
  leftMenu: "#leftmenu",
  sidFooter: "#sidfooter",
  sidFooter0: "#sidfooter_0",
  main: "#main",
  linkList: "#linklist",
  socialLinks: "#sociallinks",
  socialLinks0: "#sociallinks_0",
  prenBox0: ".pren_box0",
  ad11: "#ad11",
  addBtn3: "#addbtn_3",
  srchForm: "#searchform",
  pren0: "#pren_0",
  resetBtn: "#resetbtn",
  rubrik: "#rubrik",
  adBild: "#adbild",
  delTxt0: "#deltext_0",
  numberTxt: "#numbertxt",
  numberTxt0: "#numbertxt0",
  numberTxt1: "#numbertxt1",
  numberTxt3: "#numbertxt3",
);

// Functions
@function color($val) {
  @return map-get($colors, $val);
}

@function selector($val) {
  @return map-get($selectorMap, $val);
}
