#{selector(rubrik)} {
  color: color(red);
}

#{selector(shopTitle)} {
  position: $rel;
  right: 40%;
  bottom: 340px;
}

#{selector(shopTitle0)} {
  position: $rel;
  right: 20%;
  bottom: 390px;
}

#{selector(shopTitle1)} {
  position: $rel;
  right: 30%;
  bottom: 390px;
}

#{selector(shopTitle2)} {
  position: $rel;
  right: 35%;
  bottom: 340px;
}

#{selector(shopTitle3)} {
  position: $rel;
  right: 40%;
  bottom: 340px;
}

#{selector(shopTitle5)} {
  position: $rel;
  right: 17%;
  bottom: 345px;
}

#{selector(shopTitle6)} {
  position: $rel;
  right: 32%;
  bottom: 400px;
}

#{selector(shopTitle7)} {
  position: $rel;
  right: -40%;
  bottom: 350px;
}

#{selector(desc)} {
  position: $rel;
  right: 48%;
  bottom: 400px;
}

#{selector(desc5)} {
  position: $rel;
  right: 48%;
  bottom: 400px;
}

#{selector(desc7)} {
  position: $rel;
  right: -40%;
  bottom: 400px;
}

#{selector(desc0)} {
  position: $rel;
  right: 45%;
  bottom: 400px;
}

#{selector(desc1)} {
  position: $rel;
  right: 48%;
  bottom: 430px;
}

#{selector(title)} {
  position: $rel;
  left: 20%;
  font-size: 15px;
}

#{selector(left)} {
  position: $abs;
  left: 40%;
}

#{selector(ellerWord)} {
  position: $rel;
  bottom: 620px;
  left: 48%;
}

#{selector(cntr)} {
  margin-left: 120px;
}

@media screen and (min-width: 400px) and (max-width: 500px) {
  #{selector(ellerWord)} {
    position: $rel;
    bottom: 420px;
    left: 40%;
  }

  #{selector(shopTitle)} {
    position: $rel;
    left: -29%;
  }

  #{selector(shopTitle2)} {
    position: $rel;
    left: -10%;
  }

  #{selector(title)} {
    position: $rel;
    left: 5%;
  }

  #{selector(desc)} {
    position: $rel;
    left: -47%;
  }

  #{selector(desc0)} {
    position: $rel;
    left: -40%;
    bottom: 450px;
  }

  #{selector(desc7)} {
    position: $rel;
    left: 30%;
    bottom: 450px;
  }

  #{selector(desc5)} {
    position: $rel;
    left: -40%;
    bottom: 440px;
  }

  #{selector(shopTitle6)} {
    position: $rel;
    right: 30%;
    bottom: 400px;
    padding: 10px;
  }

  #{selector(shopTitle7)} {
    position: $rel;
    left: 22%;
    bottom: 400px;
    padding: 10px;
  }

  #{selector(shopTitle3)} {
    position: $rel;
    right: 14%;
    bottom: 390px;
  }

  #{selector(shopTitle5)} {
    position: $rel;
    right: 2%;
    bottom: 390px;
    font-size: 15px;
    padding: 10px;
  }
}

@media screen and (min-width: 500px) and (max-width: 800px) {
  #{selector(ellerWord)} {
    position: $rel;
    bottom: 420px;
    left: 65%;
  }

  #{selector(shopTitle)} {
    position: $rel;
    left: -35%;
  }

  #{selector(shopTitle2)} {
    position: $rel;
    left: -30%;
  }

  #{selector(title)} {
    position: $rel;
    left: 5%;
  }

  #{selector(desc)} {
    position: $rel;
    left: -47%;
  }

  #{selector(desc0)} {
    position: $rel;
    left: -50%;

    #{selector(para)} {
      position: $rel;
      left: -15%;
      font-size: 15px;
    }
  }

  #{selector(shopTitle6)} {
    position: $rel;
    right: 30%;
    bottom: 400px;
    padding: 10px;
  }

  #{selector(shopTitle7)} {
    position: $rel;
    left: 40%;
    bottom: 400px;
    padding: 10px;
  }

  #{selector(shopTitle3)} {
    position: $rel;
    right: 36%;
    bottom: 390px;
  }

  #{selector(shopTitle5)} {
    position: $rel;
    right: 10%;
    bottom: 390px;
  }
}
