#{selector(varuHr)} {
  width: 10.5%;
  position: $abs;
  left: 84.5%;
}

#{selector(specHr)} {
  display: $inline;
  height: 68%;
  width: 1px;
  border: 1px $insetbrd;
  margin: 5px;
  position: $abs;
  left: 10%;
  bottom: 30px;
}

#{selector(specHr2)} {
  display: $inline;
  height: 100%;
  width: 1px;
  border: 1px $insetbrd;
  margin: 5px;
  position: $abs;
  left: 10%;
  bottom: -350px;
}

#{selector(shoppingVaruHr)} {
  width: 98%;
}

#{selector(specHr1)} {
  display: $inline;
  height: 60%;
  width: 1px;
  border: 1px $insetbrd;
  margin: 5px;
  position: $abs;
  left: 10%;
  bottom: 100px;
}

#{selector(headHr)} {
  border-color: color(lightBlue);
}

#{selector(headHr1)} {
  width: 100%;
}

@media screen and (min-width: 400px) and (max-width: 500px) {
  #{selector(specHr)} {
    display: $none;
  }

  #{selector(headHr1)} {
    width: 388px;
  }

  #{selector(headHr)} {
    width: 95%;
  }

  #{selector(specHr1)} {
    display: $none;
  }

  #{selector(specHr2)} {
    display: $none;
  }
}

@media screen and (min-width: 500px) and (max-width: 800px) {
  #{selector(headHr1)} {
    width: 720px;
  }

  #{selector(specHr)} {
    display: $none;
  }

  #{selector(specHr1)} {
    display: $none;
  }

  #{selector(specHr2)} {
    display: $none;
  }
}
